<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blood Donate Web</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/assets/css/_all-skins.min.css}">
    <link rel="stylesheet" th:href="@{/asset/css/style.css}" />
    <script th:src="@{/assets/js/app.js}"></script>
</head>