<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/assets/css/_all-skins.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/asset/css/style.css}" />
    <script th:src="@{/assets/js/angular.min.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper-login">

    <div class="main-login">
        <div class="login">
            <h1>Đăng nhập</h1>
            <input type="text" placeholder="Tên đăng nhập"></input>
            <input type="password" placeholder="Mật khẩu"></input>
            <button>Đăng nhập</button>
        </div>
    </div>
    <footer class="main-footerlogin">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.0.1
        </div>
        <strong>Copyright &copy; 2024 G14/OOP.</strong>
    </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/adminlte.min.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/js/function.js}"></script>
</body>
</html>
